# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.pytest_cache/

# Envs / secrets
.env
*.env
.venv/
.env.*

# Django
*.sqlite3
/media/
staticfiles/
logfile/
logs/
*.log

# Coverage / build
.coverage
htmlcov/
dist/
build/

# Node / Frontend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo

# Vite/React
*.local
.vite/
.svelte-kit/

# IDEs
.vscode/
.idea/
